################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Rj.BookShopee/.vs/Rj.BookShopee
/Rj.BookShopee/Rj.BookShopee/bin/Debug/net6.0
/Rj.BookShopee/Rj.BookShopee/obj
