@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


    </head>
    <body class="container">

            <img src='~/css/images/logo.png' alt='logo' />

            <h1 class="h1">Welcome to BookShopee application</h1>


    </body>
    </html>
}
